.consoleWrapper {
  flex: 1 0 100%;
  max-width: 60vw;
  width: 100%;
  height: inherit;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  background-color: #363333;
  border-radius: 1rem;
}

.consoleDiv {
  flex: 1 1 0%;
  margin: 1rem;
  display: inline-block;
}

.elementDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.elementSpan {
  padding-left: 0.5rem;
}

.folderSpan {
  color: lightgreen
}

.fileSpan {
  color: turquoise
}

.errorSpan {
  color: #ff5959;
}

.userSpan {
  color: #f345ff;
}

.hostSpan {
  color: #f345ff;
}

.pathSpan {
  color: #23d17d;
}

.specialSpans {
  color: #f345ff;
}

.elementDiv input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
  padding-left: 0.5rem;
  caret-color: green;
}

.consoleLink {
  font-style: italic;
  position: relative;
}

.consoleLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tooltipSpan {
  position: absolute;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  color: black;
  z-index: 1;
  padding: 0.125rem;
  font-style: normal;
  top: -5px;
  left: 105%; 
  font-size: smaller;

}

.consoleLink:hover .tooltipSpan {
  visibility: visible;
}

/* Mobile */
@media (max-width: 700px) {
  .consoleWrapper {
    max-width: none;
    max-height: none;
  }
}